<div class="layout">
    <a href="/"><div class="logo"></div></a>
    <div>请完善如下资料</div>
    <input type="text" name="name" id="name" placeholder="请输入您的昵称" value="{$name}"/>
    <p class="info-one">昵称长度2-30个字符，1个中文占1个字符</p>
    <p class="info-two">提交后不能修改，请谨慎选择</p>
    <div class="sub" id="sub">确认</div>
    <div class="bottom-item"><a href="/login">已有昵称？立即登录</a></div>
    <input type="hidden"  id="unique-id" value="{$unique_id}"/>
</div>
</body>
{literal}
<script src="/resources/js/jquery.js"></script>
<script src="/resources/js/common.js"></script>
<script type="text/javascript">
    var sub_cfg = {};
    sub_cfg.requestUrl = '/user/nick/save';
    sub_cfg.success = function(result){
        alert_msg(result.msg,'success');
        setTimeout(function(){
            window.location.href='/';
        },2000);
    };

    $("#sub").click(function(){
        var id = $.trim($("#unique-id").val());
        var name = $.trim($("#name").val());
        if(!nick_valid(name)){
            return false;
        }
        sub_cfg.data = {
            "name":name,"id":id
        };
        $(this).unbind("click");
        ajax_res(sub_cfg);
    })

    function nick_valid(name){
        if(name == ''){
            alert_msg('请填写昵称');
            return false;
        }
        if((name.length < 2) || (name.length > 30)){
            alert_msg('昵称长度2-30个字符');
            return false;
        }
        return true;
    }
</script>
{/literal}
</html>