<div class="layout">
    <a href="/"><div class="logo"></div></a>
    <input type="text" name="name" id="name" placeholder="昵称" value=""/>
    <input type="text" name="email" id="email" placeholder="邮箱" value=""/>
    <div>
        <input type="code" name="code" id="code" placeholder="验证码"/>
        <img id="checkpic" src="/tools/code.php" />
    </div>
    <input type="password" name="password" id="password" placeholder="密码"/>
    <input type="password" name="confirm" id="confirm" placeholder="确认密码"/>
    <div class="sub" id="sub">注册</div>
    <div class="bottom-item"><a href="/login">已有帐号？立即登录</a></div>
</div>
</body>
{literal}
<script src="/resources/js/jquery.js"></script>
<script src="/resources/js/common.js"></script>
<script type="text/javascript">
    $(document).keypress(function(e) {
        // 回车键事件
        if(e.which == 13) {
            $("#sub").trigger('click');
        }
    });

    var sub_cfg = {};
    sub_cfg.requestUrl = '/register/save';
    sub_cfg.success = function(result){
        alert_msg(result.msg,'success');
        setTimeout(function(){
            window.location.href='/';
        },1000);
    };

    $("#sub").click(function(){
        var name = $.trim($("#name").val());
        var email = $.trim($("#email").val());
        var code  = $.trim($("#code").val());
        var password = $.trim($("#password").val());
        var pass_copy = $.trim($("#confirm").val());

        if(!available_name(name)) return false;
        if(!available_email(email)) return false;
        if(!available_empty(code,'验证码不能为空')) return false;
        if(!available_pass(password)) return false;
        if(!available_pass_confirm(password,pass_copy)) return false;

        sub_cfg.data = {
            "name":name,"email":email,'code':code,'password':password,'confirm':pass_copy
        };
        ajax_res(sub_cfg , this);
    })
</script>
{/literal}
</html>