    <div class="user-info-right">
        <h3>个人资料</h3>
        <div class="person-info">
            <div>
                {if $avatar != '' }
                <div class="info-avatar-img"><img src="{$avatar}" /></div>
                {/if}
                <div class="name-email">
                    <p class="u-name">{$user.name}</p>
                    <p class="u-email">{$user.email}</p>
                </div>
                <div class="my-sub">
                    <a href="/member/{$user.user_sn}">我的发布 [{$user.content_count}]</a>
                </div>
            </div>
            <p class="clear"><br></p>
            <div>
                <label class="label">手机</label>
                <span class="separate"></span>
                <input name="mobile" id="mobile" type="text" maxlength="16" value="{$user.mobile}">
            </div>
            <div>
                <label class="label">微信</label>
                <span class="separate"></span>
                <input name="weixin" id="weixin" type="text" maxlength="16" value="{$user.weixin}">
            </div>
            <!--<div>
                <label class="label">新浪</label>
                <span class="separate"></span>
                <input name="sina" id="sina" type="text" maxlength="16" value="{$user.sina}">
            </div>
            <div>
                <label class="label qq">&nbsp;QQ</label>
                <span class="separate"></span>
                <input name="qq"  id="qq" type="text" maxlength="16" value="{$user.qq}">
            </div> -->
            <div class="left">
                <label class="label">性别</label>
                <span class="separate"></span>
                <label class="label">
                    <select name="sex" id="sex">
                        {foreach from=$sex key=key item=value}
                        <option value="{$key}" {if $user.sex == $key}selected{/if} >{$value}</option>
                        {/foreach}
                    </select>
                </label>
            </div>
            <div class="left age">
                <label class="label">年龄</label>
                <span class="separate"></span>
                <label class="label">
                    <select name="age" id="age">
                        {foreach from=$age key=key item=value}
                        <option value="{$key}" {if $user.age == $key}selected{/if} >{$value}</option>
                        {/foreach}
                    </select>
                </label>
            </div>
            <div class="op"><p id="submit" class="c-subbutton">保&nbsp;存</p></div>
        </div>
    </div>
</div>
<script src="/resources/js/common.js"></script>
<script>
    var sub_cfg = {};
    sub_cfg.requestUrl = '/user/save';
    sub_cfg.success = function(result){
        alert_msg('保存成功','success');
    };

    $("#submit").click(function(){
        var mobile = $.trim($("#mobile").val());
        var weixin = $.trim($("#weixin").val());
        var sina = $.trim($("#sina").val());
        var age = $.trim($("#age").val());
        var sex = $.trim($("#sex").val());
        var qq = $.trim($("#qq").val());

        sub_cfg.data = {
            "mobile":mobile,"weixin":weixin,'sina':sina,'age':age,"sex":sex,'qq':qq
        };
        ajax_res(sub_cfg);
    })
</script>
</body>
</html>