    <div class="user_info_right">
        <h3>修改头像</h3>
        <div class="person_info">
            <div class="avatar_info">
                <p>请输入新的头像url
                    <span class="time">&nbsp;&nbsp;头像上传&nbsp;[<a target="_blank" href="http://photo.weibo.com/photos/upload">微博相册</a>]</span>
                </p>
                <br>
                <p>
                    <input name="avatar" id="avatar" type="text" value="{$avatar}">
                    <span class="select_all time cursor">&nbsp;全选</span>
                </p>
            </div>
            <div class="avatar_img">
                {if $avatar != '' }<img src="{$avatar}" /> {/if}
            </div>
            <div  class='op'>
                <p id="submit" class="c_subbutton">保&nbsp;存</p>
                <p id="show" class="c_subbutton">预&nbsp;览</p>
            </div>
        </div>
    </div>
</div>
<script src="/resources/js/common.js"></script>
<script>
    var sub_cfg = {};
    sub_cfg.requestUrl = '/avatar/save';
    sub_cfg.success = function(result){
        alert('保存成功');
    };

    $("#submit").click(function(){
            var avatar = $.trim($("#avatar").val());
            if(avatar == ''){
                alert('请输入图片url');
                return false;
            }
            sub_cfg.data = {
                "avatar":avatar
            };
            ajax_res(sub_cfg);
        })

    $("#show").click(function(){
        var avatar = $.trim($("#avatar").val());
        $('.avatar_img').html('<img src="'+avatar+'" />');
    })

    $(".select_all").click(function(){
        $("#avatar").select();
    })
    </script>
</body>
</html>
