    <div class="user-info-right">
        <h3>修改头像</h3>
        <div class="person-info">
            <div class="avatar-info">
                <p>请输入新的头像url
                    <span class="time">&nbsp;&nbsp;头像上传&nbsp;[<a target="_blank" href="http://photo.weibo.com/photos/upload">微博相册</a>]</span>
                </p>
                <br>
                <p>
                    <input name="avatar" id="avatar" type="text" value="{$avatar}">
                    <span class="select-all time cursor">&nbsp;全选</span>
                </p>
            </div>
            <div class="avatar-img">
                {if $avatar != '' }<img src="{$avatar}" /> {/if}
            </div>
            <div  class='op'>
                <p id="submit" class="c-subbutton">保&nbsp;存</p>
                <p id="show" class="c-subbutton">预&nbsp;览</p>
            </div>
        </div>
    </div>
</div>
<script src="/resources/js/common.js"></script>
<script>
    var sub_cfg = {};
    sub_cfg.requestUrl = '/user/avatar/save';
    sub_cfg.success = function(result){
        alert_msg('保存成功','success');
    };

    $("#submit").click(function(){
        var avatar = $.trim($("#avatar").val());
        if(avatar == ''){
            alert_msg('请输入图片url');
            return false;
        }
        sub_cfg.data = {
            "avatar":avatar
        };
        ajax_res(sub_cfg , this);
    })

    $("#show").click(function(){
        var avatar = $.trim($("#avatar").val());
        $('.avatar-img').html('<img src="'+avatar+'" />');
    })

    $(".select-all").click(function(){
        $("#avatar").select();
    })
    </script>
</body>
</html>
