RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule (.*) http://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond $1 !^(index\.php|\.html|images|robots\.txt)
RewriteRule ^(.*)$ index.php?s=/$1 [L]

#RewriteCond $1 (\.css|\.js)
#RewriteRule ^(.*)$ http://gaodonggaoxi.cn/$1 [L]