<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="all" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/resources/css/common.css"/>
    <script src="/resources/js/jquery.js"></script>
    <script src="/resources/js/jquery.cookie.js"></script>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <title>{$title}</title>
</head>
<body>
<div class="nav clear">
    <ul>
        <li><a href="/wl">无聊图</a></li>
        <li><a href="/joke">段子</a></li>
        <li><a href="/meizi">妹子</a></li>
        <li><a href="/know">小知士</a></li>
        <li><a href="/wen">美文</a></li>
        <li><a href="/zzs">渣渣说</a></li>
        <li><a href="/myth">神话</a></li>
    </ul>
</div>
<div class="wapper {$body}">