<div class="main left">
    <div class="title">{$title}</div>
    <div class="depict">段子，笑话，糗事，等你来说</div>
    <div class="total">
        <span class="left">总数：{$count}</span>
        <span id="mao" class="right cursor time">{if $name}{$name}，想说些什么呢？{else}来说些什么吧{/if}</span>
    </div>
    {if $list|count > 5}{$page}{/if}
    {foreach from=$list key=key item=one}
    <div class="one {if $key == 0 }first{/if}">
        <div class="user">
            <p class="name" title="{$one.u_name}">{$one.name}</p>
            <p class="time">{$one.create_time}</p>
        </div>
        <div class="content">
            <p>{$one.content}</p>
        </div>
        <p class="right clear click">
            <span class="response"></span>
            <a class="oo" data-id="{$one.con_id}">oo</a>[<span class="good">{$one.good}</span>]
            <a class="xx" data-id="{$one.con_id}">xx</a>[<span class="bad">{$one.bad}</span>]
        </p>
    </div>
    {/foreach}

    {$page}

    <div class="sub">
        <p>昵称：<input type="text" name="name" id="name" value="{$name}" /></p>
        <p>邮箱：<input type="text" name="email" id="email" value="{$email}" /></p>
        <p><textarea name="content" id="content"></textarea></p>
        <p><button id="submit" class="clear">提交</button></p>
    </div>
</div>
<script src="/resources/js/jquery.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/jquery.cookie.js"></script>
<script>
    var sub_cfg = {};
    var comment_url = '/joke/comment';
    sub_cfg.requestUrl = '/joke/save';
    sub_cfg.success = function(result){
        window.location.href='/joke'
    };

    $("#submit").click(function(){
        var name = $.trim($("#name").val());
        var email = $.trim($("#email").val());
        var content = $.trim($("#content").val());
        content = content. replace(/\n/g,'<br/>'); //换行
        if(!valid(name,email,content)){
            return false;
        }
        $.cookie('name', name ,  { expires: 365 });
        $.cookie('email', email ,  { expires: 365 });
        sub_cfg.data = {
            "name":name,"email":email,'content':content
        };
        ajax_res(sub_cfg);
    })


    $(".oo").click(function(){
        click_good(comment_url,this);
    })

    $(".xx").click(function(){
        click_bad(comment_url,this);
    })
</script>
