<div class="main left">
    <div class="title">{$title}</div>
    <div class="depict">嘘~听我来讲神话</div>
    <div class="total">
        <span class="left">总数：{$count}</span>
        <span id="mao" class="right cursor time">{if $name}{$name}，想说些什么呢？{else}来说些什么吧{/if}</span>
    </div>
    {if $list|count > 5}{$page}{/if}
    {foreach from=$list key=key item=one}
    <div class="list_one {if $key == 0 }first{/if}">
        <div class="article_title">
            <p>
                <a target="_blank" href="/myth/detail/{$one.act_id}">{$one.title}</a>
                <span class="right">
                    <span class="time" title="{$one.u_name}">{$one.name}</span>
                    <span class="time">&nbsp;&nbsp;</span>
                    <span class="time">{$one.create_time}</span>
                </span>
            </p>
        </div>
        <div class="article_desc">
            <a target="_blank" href="/myth/detail/{$one.act_id}">{$one.content}</a>
        </div>
        <div class="user">
            <p class="right click">
                <span class="response"></span>
                <a class="oo" data-id="{$one.act_id}">oo</a>[<span class="good">{$one.good}</span>]
                <a class="xx" data-id="{$one.act_id}">xx</a>[<span class="bad">{$one.bad}</span>]
            </p>
        </div>
    </div>
    {/foreach}

    {$page}
    <form id="myform" method="post" action="/myth/save"  enctype="multipart/form-data">
        <div class="sub">
            <p>昵称：<input type="text" name="name" id="name" value="{$name}" /></p>
            <p>邮箱：<input type="text" name="email" id="email" value="{$email}" /></p>
            <p>标题：<input type="text" name="myth_title" id="myth_title" value="" /></p>
            <p class="myth_content"><textarea name="content" id="content"></textarea></p>
            <p><button id="submit" class="clear">提交</button></p>
        </div>
    </form>
</div>
<script src="/resources/js/jquery.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/jquery.cookie.js"></script>
<script charset="utf-8" src="/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>
<script>KindEditor.ready(function(K) { window.editor = K.create('#content');});</script>
<script>
    var comment_url = '/myth/comment';

    $("#submit").click(function(){
        var name = $.trim($("#name").val());
        var email = $.trim($("#email").val());
        var title = $.trim($("#myth_title").val());
        if(name=='' || email=='' || title == ''){
            alert('请将信息填写完整');
            return false;
        }
        $.cookie('name', name ,  { expires: 365 });
        $.cookie('email', email ,  { expires: 365 });
        $("#myform").submit();
    })


    $(".oo").click(function(){
        click_good(comment_url,this);
    })

    $(".xx").click(function(){
        click_bad(comment_url,this);
    })
</script>
