<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/css/bootstrap-table.min.css">
<link rel="stylesheet" href="/resources/css/admin/iframe.css">
<div class="container">
    <div class="table-toolbar">
        <button class="btn btn-op" id="remove" data-url="/admin/delete/access">Delete</button>
        <button class="btn btn-default" id="select_text" data-target="#myModal" data-toggle="modal" data-url="/admin/delete/black">black</button>
        <span>IP：</span>
        <div class="form-group">
            <input type="text"  size="15" class="form-control" id="search_ip" >
        </div>
        <div class="form-group">
            <button class="btn btn-search">search</button>
        </div>
    </div>
    <table id="table"
           data-toggle="table"
           data-url="/admin/list/access"
           data-show-columns="true"
           data-search="false"
           data-show-refresh="true"
           data-show-toggle="false"
           data-pagination="true"
           data-side-pagination="server"
           data-height="600">
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-sortable="true" data-sortable="true" data-field="rec_id">ID</th>
            <th data-sortable="true" data-field="url">URL</th>
            <th data-sortable="true" data-field="ip">IP</th>
            <th data-sortable="true" data-field="ip_address">IP位置</th>
            <th data-sortable="true" data-field="create_time">时间</th>
        </tr>
        </thead>
    </table>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn-submit" data-dismiss="modal">提交更改</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
</div>
{literal}
<script src="/resources/js/jquery.js"></script>
<script src="/resources/js/admin/admin.js"></script>
<script src="/resources/js/admin/bootstrap.min.js"></script>
<script src="/resources/js/admin/bootstrap-table.js"></script>
<script>
    $(".btn-search").click(function(){
        var search_ip = $('#search_ip').val();
        var filter = '?ip='+search_ip;
        $('#table').bootstrapTable('refresh', {url: '/admin/list/access'+filter});
        return false;
    })

    $("body").on("click", '#select_text', function(){
        var cfg = {};
        cfg.requestUrl = '/admin/black_text';
        cfg.success = function(result){
            var html = '<div  class="form-group"><label>文本内容：</label>';
            html += '<textarea class="form-control" id="m-ip">'+result+'</textarea></div>';
            $('#myModalLabel').html('被禁ip');
            $('#myModal .modal-body').html(html);
        };
        cfg.data = {};
        admin_ajax_res(cfg);
    })

    $("body").on("click", '.btn-submit', function(){
        var content = $('#m-ip').val();
        var cfg = {};
        cfg.requestUrl = '/admin/black_update';
        cfg.success = function(result){alert('修改成功');};
        cfg.data = {"content":content};
        admin_ajax_res(cfg);
    })
</script>
{/literal}