<link rel="stylesheet" href="/resources/css/admin/bootstrap.min.css">
<link rel="stylesheet" href="/resources/css/admin/bootstrap-table.min.css">
<link rel="stylesheet" href="/resources/css/admin/iframe.css">
<div class="container">
    <div class="table-toolbar">
        <button class="btn btn-op" id="remove" data-url="/admin/delete/access">Delete</button>
        <span>IP：</span>
        <div class="form-group">
            <input type="text"  size="15" class="form-control" id="search_ip" >
        </div>
        <div class="form-group">
            <button class="btn btn-search">search</button>
        </div>
    </div>
    <table id="table"
           data-toggle="table"
           data-url="/admin/list/access"
           data-show-columns="true"
           data-search="false"
           data-show-refresh="true"
           data-show-toggle="false"
           data-pagination="true"
           data-side-pagination="server"
           data-height="600">
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-sortable="true" data-sortable="true" data-field="rec_id">ID</th>
            <th data-sortable="true" data-field="url">URL</th>
            <th data-sortable="true" data-field="ip">IP</th>
            <th data-sortable="true" data-field="ip_address">IP位置</th>
            <th data-sortable="true" data-field="create_time">时间</th>
        </tr>
        </thead>
    </table>
</div>
{literal}
<script src="/resources/js/jquery.js"></script>
<script src="/resources/js/admin/admin.js"></script>
<script src="/resources/js/admin/bootstrap.min.js"></script>
<script src="/resources/js/admin/bootstrap-table.js"></script>
<script>
    $(".btn-search").click(function(){
        var search_ip = $('#search_ip').val();
        var filter = '?ip='+search_ip;
        $('#table').bootstrapTable('refresh', {url: '/admin/list/access'+filter});
        return false;
    })
</script>
{/literal}