<link rel="stylesheet" href="/resources/css/admin/bootstrap.min.css">
<link rel="stylesheet" href="/resources/css/admin/bootstrap-table.min.css">
<link rel="stylesheet" href="/resources/css/admin/iframe.css">
<div class="container">
    <div class="table-toolbar">
        <button class="btn" id="remove" data-url="/admin/content_delete">Delete</button>
        <button class="btn" id="pass" data-url="/admin/content_pass">Pass</button>
        <button class="btn" id="fail" data-url="/admin/content_fail">Fail</button>
        <span>审核状态：</span>
        <div class="form-group">
            <select class="form-control" name="search_status" id="search_status">
                <option value="-1" >未选择</option>
                {foreach key=key item=item from=$status_list}
                <option value="{$key}" >{$item}</option>
                {/foreach}
            </select>
        </div>
        <span>类型：</span>
        <div class="form-group">
            <select class="form-control" name="search_type" id="search_type">
                <option value="-1" >未选择</option>
                {foreach key=key item=item from=$type_list}
                <option value="{$key}" >{$item}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <table id="table"
           data-toggle="table"
           data-url="/admin/content_list"
           data-show-columns="true"
           data-search="false"
           data-show-refresh="true"
           data-show-toggle="false"
           data-pagination="true"
           data-side-pagination="server"
           data-height="600">
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-sortable="true" data-field="con_id">ID</th>
            <th data-field="type">类型</th>
            <th data-field="content">内容</th>
            <th data-field="email">邮箱</th>
            <th data-field="name">昵称</th>
            <th data-sortable="true" data-field="user_id">VIP</th>
            <th data-sortable="true" data-field="good">oo</th>
            <th data-sortable="true" data-field="bad">xx</th>
            <th data-sortable="true" data-field="reply">回复</th>
            <th data-sortable="true" data-field="status">状态</th>
            <th data-sortable="true" data-field="ip">ip</th>
        </tr>
        </thead>
    </table>
</div>
{literal}
<script src="/resources/js/jquery.js"></script>
<script src="/resources/js/admin/admin.js"></script>
<script src="/resources/js/admin/bootstrap.min.js"></script>
<script src="/resources/js/admin/bootstrap-table.js"></script>
{/literal}