<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/css/bootstrap-table.min.css">
<link rel="stylesheet" href="/resources/css/admin/iframe.css">
<div class="container">
    <div class="table-toolbar">
        <button class="btn btn-op" id="remove" data-url="/admin/delete/content">Delete</button>
        <button class="btn btn-op" id="pass" data-url="/admin/pass/content">Pass</button>
        <button class="btn btn-op" id="fail" data-url="/admin/fail/content">Fail</button>
        <span>ID：</span>
        <div class="form-group">
            <input type="text" maxlength="12" size="5" class="form-control" id="search_id" >
        </div>
        <span>审核状态：</span>
        <div class="form-group">
            <select class="form-control" name="search_status" id="search_status">
                <option value="-1" >未选择</option>
                {foreach key=key item=item from=$status_list}
                <option value="{$key}" >{$item}</option>
                {/foreach}
            </select>
        </div>
        <span>类型：</span>
        <div class="form-group">
            <select class="form-control" name="search_type" id="search_type">
                <option value="-1" >未选择</option>
                {foreach key=key item=item from=$type_list}
                <option value="{$key}" >{$item}</option>
                {/foreach}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-search">search</button>
         </div>
    </div>
    <table id="table"
           data-toggle="table"
           data-url="/admin/list/content"
           data-show-columns="true"
           data-search="false"
           data-show-refresh="true"
           data-show-toggle="false"
           data-pagination="true"
           data-side-pagination="server"
           data-height="600">
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-sortable="true" data-field="con_id">ID</th>
            <th data-field="type">类型</th>
            <th data-field="email">邮箱</th>
            <th data-field="name">昵称</th>
            <th data-sortable="true" data-field="user_id">VIP</th>
            <th data-sortable="true" data-field="good">oo</th>
            <th data-sortable="true" data-field="bad">xx</th>
            <th data-sortable="true" data-field="reply">回复</th>
            <th data-sortable="true" data-field="status">状态</th>
            <th data-sortable="true" data-field="ip">ip</th>
            <th data-field="create_time">时间</th>
        </tr>
        </thead>
    </table>
</div>
{literal}
<script src="/resources/js/jquery.js"></script>
<script src="/resources/js/admin/admin.js"></script>
<script src="/resources/js/admin/bootstrap.min.js"></script>
<script src="/resources/js/admin/bootstrap-table.js"></script>
<script>
    $(".btn-search").click(function(){
        var search_id = $('#search_id').val();
        var search_type = $('#search_type').val();
        var search_status = $('#search_status').val();
        var filter = '?con_id='+search_id+'&type='+search_type+'&status='+search_status;

        $('#table').bootstrapTable('refresh', {url: '/admin/list/content'+filter});
        return false;
    })
</script>
{/literal}