<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/date/css/pikaday.css">
<link rel="stylesheet" href="/resources/css/admin/iframe.css">
<div class="container">
    <div class="table-toolbar">
        <span>开始时间：</span>
        <div class="form-group">
            <input id="start_time" class="form-control" type="text" value="{$start_time}">
        </div>
        <span>结束时间：</span>
        <div class="form-group">
            <input id="end_time" class="form-control" type="text" value="{$end_time}">
        </div>
        <div class="form-group">
            <button class="btn btn-search">search</button>
        </div>
    </div>
    <div class="table-toolbar chart-row">
        <span class="chart-label chart-content"></span><span>content</span>
        <span class="chart-label chart-article"></span><span>article</span>
        <span class="change-chart" data-type="bar">柱状图</span>
        <span class="change-chart cur-chart" data-type="line">条形图</span>
        <span class="chart-name">chart / </span>
    </div>
    <div>
        <canvas id="my-chart"></canvas>
    </div>
</div>
{literal}
<script src="/resources/js/jquery.js"></script>
<script src="/resources/js/admin/admin.js"></script>
<script src="/resources/js/admin/chart.js"></script>
<script src="/resources/date/js/pikaday.min.js"></script>
<script>
    function myChart(result) {
        var labels_arr = [];
        var data_content = [];
        var data_article = [];
        for (k in result) {
            labels_arr.push(k);
            data_article.push(result[k].article);
            data_content.push(result[k].content);
        }

        var data = {
            labels: labels_arr,
            datasets: [
                {
                    label: "content",
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data:data_content
                },
                {
                    label: "article",
                    fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    data:data_article
                }
            ]
        };
        var ctx = document.getElementById('my-chart').getContext("2d");
        if($('.cur-chart').length > 0 && $('.cur-chart').attr('data-type') == 'bar'){
            window.myLine = new Chart(ctx).Bar(data, { responsive: true });
        }else{
            window.myLine = new Chart(ctx).Line(data, { responsive: true });
        }
    }

    $("body").on("click", '.btn-search', function(){
        init_data();
    })

    function init_data(){
        var start_time = $('#start_time').val();
        var end_time = $('#end_time').val();
        var cfg = {};
        cfg.requestUrl = '/admin/count_content_data';
        cfg.success = function(result){
            if (window.myLine) window.myLine.destroy();
            myChart(result);
        }
        cfg.data = {"start":start_time,"end":end_time};
        admin_ajax_res(cfg);
    }

    init_data();

    $("body").on("click", '.change-chart', function(){
        $(this).addClass('cur-chart').siblings().removeClass('cur-chart');
        init_data();
    })
</script>
{/literal}