            </iframe>
        </div>
        <div class="sidebar-wrap">
            <div class="sidebar-title">
                <h1>菜单</h1>
            </div>
            <div class="sidebar-content">
                <ul class="sidebar-list">
                    <li>
                        <a class="main-menu" href="javascript:void(0);">基础配置</a>
                        <ul class="sub-menu">
                            <li data-url="/admin/nav"><a href="javascript:void(0);">导航配置</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="main-menu" href="javascript:void(0);">常用操作</a>
                        <ul class="sub-menu">
                            <li data-url="/admin/content"><a href="javascript:void(0);">发布管理</a></li>
                            <li data-url="/admin/article"><a href="javascript:void(0);">文章管理</a></li>
                            <li data-url="/admin/user"><a href="javascript:void(0);">用户管理</a></li>
                            <li data-url="/admin/reply"><a href="javascript:void(0);">回复管理</a></li>
                            <li data-url="/admin/record"><a href="javascript:void(0);">记录管理</a></li>
                            <li data-url="/admin/access"><a href="javascript:void(0);">访问信息</a></li>
                            <li data-url="/admin/black"><a href="javascript:void(0);">黑名单管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="main-menu" href="javascript:void(0);">统计信息</a>
                        <ul class="sub-menu">
                            <li data-url="/admin/count_content"><a href="javascript:void(0);">发布统计</a></li>
                            <li data-url="/admin/count_access"><a href="javascript:void(0);">访问统计</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>