<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/admin/admin.css">
    <script src="/resources/js/jquery.js"></script>
    <script src="/resources/js/jquery.cookie.js"></script>
    <title>管理后台</title>
    <script>
        $(document).ready(function () {
            if($.cookie('cur_path') != undefined && $.cookie('cur_path') != ''){
                var url = $.cookie('cur_path');
                $("iframe").attr('src',url);
                $(".sub-menu li").each(function(){
                    if($(this).attr('data-url') == url){
                        $(this).children("a").addClass("select").end().siblings().children('a').removeClass("select");
                    }
                })
            }

            $(".sidebar-list li").click(function(){
                var url = $(this).attr('data-url');
                $("iframe").attr('src',url);
                $.cookie('cur_path', url ,{ path : '/admin' });
                $(this).children("a").addClass("select").end().siblings().children('a').removeClass("select");
                $(this).children("a").addClass("select").end().parents('li').siblings().find('a').removeClass("select");
            })
        });
    </script>
</head>
<body>
<div class="topbar-wrap">
    <span>管理后台</span>
    <a target="_blank" href="/">返回首页</a>
    <a class="logout" href="/login/login_out">退出登录</a>
</div>
<div class="main">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a class="main-menu" href="javascript:void(0);">基础配置</a>
                    <ul class="sub-menu">
                        <li data-url="/admin/nav"><a href="javascript:void(0);">导航配置</a></li>
                    </ul>
                </li>
                <li>
                    <a class="main-menu" href="javascript:void(0);">常用操作</a>
                    <ul class="sub-menu">
                        <li data-url="/admin/content"><a href="javascript:void(0);">发布管理</a></li>
                        <li data-url="/admin/article"><a href="javascript:void(0);">文章管理</a></li>
                        <li data-url="/admin/user"><a href="javascript:void(0);">用户管理</a></li>
                        <li data-url="/admin/reply"><a href="javascript:void(0);">回复管理</a></li>
                        <li data-url="/admin/record"><a href="javascript:void(0);">记录管理</a></li>
                        <li data-url="/admin/access"><a href="javascript:void(0);">访问信息</a></li>
                        <li data-url="/admin/black"><a href="javascript:void(0);">黑名单管理</a></li>
                    </ul>
                </li>
                <li>
                    <a class="main-menu" href="javascript:void(0);">统计信息</a>
                    <ul class="sub-menu">
                        <li data-url="/admin/count_content"><a href="javascript:void(0);">发布统计</a></li>
                        <li data-url="/admin/count_access"><a href="javascript:void(0);">访问统计</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-iframe">
        <iframe src="/admin/content">