<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/admin/admin.css">
    <script src="/resources/js/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $(".menu li").click(function(){
                $("iframe").attr('src',$(this).attr('data-url'));
            })
        });
    </script>
</head>
<body>
<div>后台</div>
<ul class="menu">
    <li data-url="/admin/content">内容</li>
</ul>
<div class="main">
<iframe src="/admin/content">