p,ul{
    margin:0;
    padding:0;
}
input,textarea{
    border:1px solid #dedede;
}
body{
    color:#4c4c4c;
    font-size: 13px;
}
a{
    text-decoration:none;
    cursor:pointer;
}
ul{
    list-style: none;
}
.clear{
    clear:both;
    width:100%;
}
.cursor{
    cursor:pointer;
}
.left{
    float:left;
}
.right{
    float:right;
}
.center{
    text-align: center;
}
.time{
    color:#8c8c8c;
    font-size:12px;
}
.oo:hover,.xx:hover{
    color:red;
}
button{
    border:1px solid #dedede;
    color:#8c8c8c;
    font-size: 12px;
    padding:2px;
    cursor:pointer;
}
.title{
    padding:10px 20px;
    background:#f4f4f4;
}
.depict{
    padding:10px 20px;
    border-bottom:1px solid #dedede;
}
.total
{
    padding:10px 20px;
    overflow: auto;
    background:#f4f4f4;
}
.nav{
    overflow:auto;
    width:1102px;
    margin:0 auto;
    background:black;
}
.nav ul{
    margin-left:10px;
}
.nav ul li{
    float:left;
    padding:10px 15px;
}
.nav ul li:hover{
    background:#3c3c3c;
}
.nav ul li a{
    color:#acacac;
}
.nav ul li:hover a{
    color:#cccccc;
}
.wapper{
    width:1100px;
    margin:0 auto;
    overflow: auto;
    border:1px solid #dedede;
    border-top:0;
}
.main{
    border-right:1px solid #dedede;
}
.one{
    clear:both;
    padding:20px 0px 10px;
    overflow: auto;
    border-top:1px solid #dedede;
    margin:0 20px;
}
.one.first , .list_one.first{
    border-top:0;
}
.one .user{
    float:left;
    width:200px;
}
.one .content{
    float:left;
    width:500px;
}
.one .user .name{
    font-size:13px;
    color:#6c6c6c;
    font-weight: bold;
}
.click{
    text-align: right;
    font-size: 12px;
    color:#8c8c8c;
}
.sub{
    padding:0 20px;
}
.sub p{
    margin:10px 0;
}
.sub p input{
    width:300px;
    font-size: 12px;
    padding:2px 10px;
}
.sub textarea{
    width:700px;
    max-width:700px;
    min-width:700px;
    height:100px;
    font-size: 12px;
    padding:10px;
}
.list_one{
    clear:both;
    padding:20px 0px;
    overflow: auto;
    border-top:1px solid #dedede;
    margin:0 20px;
}
.list_one .article_title a{
    font-size:14px;
    color:#3c3c3c;
}
.list_one .article_desc a{
    font-size:12px;
    color:#8c8c8c;
}
.detail{
    width:690px;
    padding:20px;
}
.pagination {
    font-family: '微软雅黑';
    overflow: hidden;
    padding: 12px 0;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;;
    text-align: center;
}
.pagination-tab {
    margin-bottom: 20px;
}
.pagination a, .pagination .page-cur, .pagination .page-prev_g, .pagination .page-prev, .pagination .page-next, .pagination .page-next_g, .pagination .page-break, .pagination .page-skip {
    text-decoration: none;
    margin-right:2px;
    display: inline-block;
    font-family: '微软雅黑';
    height: 22px;
    line-height:22px;
    margin: 0;
    min-width: 16px;
    padding: 0 5px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}
.pagination a, .pagination .page-prev_g, .pagination .page-prev, .pagination .page-next, .pagination .page-next_g, .pagination .page-cur, .pagination .page-break {
    color:#498B31;
}
.pagination a:hover {
    text-decoration: underline;
    color:#545454;
}
.pagination .page-prev_g, .pagination .page-prev, .pagination .page-next, .pagination .page-next_g {
    /*width: 36px;*/
}
.pagination .page-prev {
    background-position: -0px -38px;
    padding-left: 6px;
}
.pagination .page-prev_g {
    background-position:0px -59px;
    padding-left: 6px;
    color:#cbcbcb;
    font-weight:normal;
}
.pagination .page-next {
    background-position: 0px 0px;
    padding-right: 6px;
    font-weight:normal;
}
.pagination .page-next_g {
    background-position: -0px -19px;
    padding-right: 6px;
    color:#cbcbcb;
}
.pagination .page-cur {
    text-decoration: underline;
    font-weight:bold;
    color:#545454
}
.pagination .page-break {
    border: medium none;
    background:none transparent;
    color:#333;
}
.myth_content .ke-container{
    max-width:700px;
    min-width:700px;
}
#alertMsg {
    display: none;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    padding: 10px;
    font-size: 12px;
    position: absolute;
    text-align: center;
    background: #fff;
    z-index: 100000;
}

#alertMsg_info {
    padding: 2px 15px;
    line-height: 1.6em;
    text-align: left;
}

#alertMsg_btn1, #alertMsg_btn2 {
    display: inline-block;
    background: url(images/gray_btn.png) no-repeat left top;
    padding-left: 3px;
    color: #000000;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

#alertMsg_btn1 cite, #alertMsg_btn2 cite {
    line-height: 24px;
    display: inline-block;
    padding: 0 13px 0 10px;
    background: url(images/gray_btn.png) no-repeat right top;
    font-style: normal;
}