/*通用*/
body {
    color: #4c4c4c;
    font: 13px 'Microsoft YaHei','Arial';
    margin: 0 !important;
    padding: 0 !important;
}
a{
    cursor: pointer;
    color: #8c8c8c;
    text-decoration: none;
}
p, ul, h3, ul, pre {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
input,
textarea,
select,
button{
	font-family: 'Microsoft YaHei','Arial';
}
body,
.main{
    background-color: #fafafa;
}
.main-left{
    background-color: #fff;
}
.body-duan .ke-toolbar{
    display: none !important;
}
.login-third{
    display: none;
}
.a-markdown{
    color:#0077bb;
}
.user-member{
    cursor: pointer;
}
.data-loading{
    height: 500px;
    text-align: center;
    font-size: 24px;
    line-height: 200px;
    color:#8c8c8c;
}
/*通用结束*/

/*header*/
.nav{
    width:100%;
    clear:both;
    z-index: 9999;
    box-shadow: 0 0 2px 0px #666;
    background-color: #fff;
    border-top: 2px solid #fa7d3c;
    height: 48px;
}
.nav-container{
    margin: 0 auto;
    position: relative;
}
.nav .logo{
    float:left;
    margin-right:40px;
}
.nav .logo img{
	height: 35px;
    margin-top: 6px;
}
.nav .search{
    float:right;
    padding-top:10px;
    display: none;
    margin-right:10px;
}
.search #search{
    font-size: 12px;
    padding: 2px 33px 2px 10px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #cccccc;
    color: #808080;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float:left;
}
.search #search:focus{
    background-color: #fff;
}
.search-btn{
    width:18px;
    height:18px;
    float:left;
    margin-left:-22px;
    margin-top:4px;
    background-image: url("/resources/images/png/search.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    cursor: pointer;
}
.search-btn:hover{
    opacity: 1;
}
.nav-edit .search-btn{
    margin-left: 0;
    margin-top: 1px;
    margin-right:20px;
}
.nav-container ul li{
    float:left;
}
.nav-container ul li a{
    padding: 15px 10px 14px;
}
.nav-container ul li a {
    color: #333;
    display: block;
}
.nav-container ul li a:hover{
    color:#fa7d3c;
}
.nav-container ul li a.active {
    color: #fa7d3c;
}
.nav-user{
    font-size: 12px;
    padding: 17px 0 10px;
    float:right;
    position: relative;
    margin-left:20px;
    max-width: 128px;
}
.user-icon{
    max-width: 100px;
    text-align: right;
    padding-left:20px;
    background-image: url('/resources/images/png/user_icon.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left top;
    cursor: pointer;
}
.nav-user a{
    color:#6c6c6c;
    padding:0 2px;
}
.nav-user a:hover{
    color:#333;
}
.u-dropdown{
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    padding:2px;
    margin-top:5px;
    display: none;
    position: absolute;
    right: 0;
    width:88px;
}
.nav-user:hover .u-dropdown{
    display: block;
}
.u-dropdown a{
    display: block;
    padding:5px 20px;
}
.u-dropdown a:hover{
    background-color: #f2f2f5;
}
.subnav-wrapper{
    margin:20px auto;
    overflow: auto;
 }
.subnav li{
    float:left;
    padding: 0 15px;
    border-right: 1px solid #e8e8e8;
}
.subnav li a{
    color:#8c8c8c;
    font-size: 12px;
}
.subnav li a:hover{
    color:#5c5c5c;
}
.subnav li.active a{
    color:#444;
    font-weight: bold;
}
.subnav li:first-child{
    padding-left:0;
}
.nav-desc{
    float:right;
    font-size: 12px;
    color: #999;
}
.edit-info {
    background-image: url('/resources/images/png/edit_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    float: right;
    cursor: pointer;
    width:20px;
    height:20px;
    opacity: 0.5;
}
.nav-edit{
    margin-left:10px;
    float:right;
    padding-top:14px;
}
/*header结束*/
/*empty开始*/
.body-empty,
.body-empty .main{
    background-color: #fff;
}
.empty{
    width:510px;
    margin:60px auto;
}
.empty div{
    float:left;
}
.empty .sorry-img{
    width:200px;
    height:200px;
}
.empty .sorry-content{
    margin-left:10px;
    width:300px;
    text-align: left;
    padding-top:40px;
    color:#6c6c6c;
}
.empty .sorry-content p:first-child{
    margin-bottom: 30px;
    font-size:24px;
    color:#444;
}
/*empty结束*/
/*翻页*/
.pagination a,
.pagination .page-cur,
.pagination .page-prev,
.pagination .page-next,
.pagination .page-break {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    min-width: 16px;
    padding: 4px 5px;
    text-align: center;
    vertical-align: top;
}
.pagination {
    overflow: hidden;
    padding: 12px 0;
    border-top: 1px solid #dedede;
    text-align: center;
}
.page-bottom{
    margin-left:-10px;
}
.pagination a,
.pagination .page-prev,
.pagination .page-next,
.pagination .page-cur,
.pagination .page-break {
    color: #fff;
    margin-left:10px;
    background-color: #aaa;
}
.pagination a:hover {
    background-color: #444;
}
.pagination .page-prev {
    background-position: -0px -38px;
    padding-left: 6px;
}
.page-top {
    border-bottom: 1px solid #dedede;
    border-top:0;
    margin-top: 20px;
}
.pagination .page-prev-g {
    background-position: 0px -59px;
    padding-left: 6px;
    color: #cbcbcb;
    font-weight: normal;
}
.pagination .page-next {
    padding:4px 6px;
}
.pagination .page-next-g {
    background-position: -0px -19px;
    padding-right: 6px;
    color: #cbcbcb;
}
.pagination .page-cur {
    border: 1px solid #EEE;
    color: #AAA;
    background-color: #fff;
    padding:3px 5px;
}
.pagination .page-break {
    border: medium none;
    background: none transparent;
    color: #333;
}
.pagination .page-desc {
    margin: 0 -10px 0 0;
}
/*翻页结束*/

/*提示信息*/
.alert-msg{
    height: 52px;
    position: fixed;
    top: 30%;
    display: none;
    text-align: center;
    z-index: 999;
    font-weight: bold;
    font-size: 14px;
    color: #606060;
    background-image: url("/resources/images/png/alert.png");
    background-position: 0 -161px;
    background-repeat: repeat-x;
    border-left:2px solid #e8e8e8;
    border-right:2px solid #e8e8e8;
    border-radius: 4px;
}
.alert-msg span{
    float:left;
    display: block;
}
.alert-msg .icon{
    width:29px;
    height: 29px;
    border-radius: 14px;
    background-image: url("/resources/images/png/alert.png");
    background-repeat: no-repeat;
    margin-top:10px;
    margin-left:10px;
}
.alert-msg .info{
    background-position: -21px -66px;
}
.alert-msg .success{
    background-position: -21px -12px;
}
.alert-msg .msg-info{
    line-height: 45px;
    margin-left: 30px;
    margin-right: 50px;
}
/*提示信息结束*/

/*评论*/
.reply-wrapper{
    overflow: auto;
}
.reply-main .oo,
.reply-main .xx{
    background-image: none;
    padding-right: 0;
}
.reply-main .oo:hover,
.reply-main .xx:hover{
    background-image: none;
}
.reply-main .oo:hover{
    color:#ffaaaa;
}
.reply-main .xx:hover{
    color:#aaaaff;
}
.reply-main .reply-ta:hover{
    color:#666;
}
.hr-reply {
    float: right;
    border: 0;
    margin-bottom:20px;
    width:100%;
    border-bottom: 1px solid #e8e8e8;
}
.reply-main {
    border: 1px solid #ccc;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}
.reply-bottom .response{
    margin-left:10px;
}
.reply-title {
    font-size: 18px;
    padding: 5px 10px;
    background-color: #fafafa;
    border-bottom: 2px solid #88abc3;
}
.reply-section,.reply-comment{
    clear: both;
    overflow: auto;
    padding: 10px;
}
.reply-section {
    border-bottom: 1px solid #ccc;
}
.reply-right p {
    width: 100%;
    clear: both;
    word-wrap: break-word;
    word-break: normal;
}
.reply-user-name,
.reply-to-name{
    color: #d32;
    font-weight: bold;
}
.reply-to-user{
    color:#e77064;
}
.reply-createtime{
    margin-right:10px;
}
.reply-right-top .reply-user-name{
    margin-right:5px;
}
.reply-avatar {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    float: left;
    position: relative;
    margin-right: 10px;
    margin-top: 3px;
    text-align: left;
}
.reply-avatar img {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
    display: block;
    height: 50px;
    max-width: none;
    width: 50px;
}
.reply-right{
    float:left;
    overflow: hidden;
    width: 515px;
    margin: 2px 0;
}
.reply-bottom{
    padding:2px 0;
    margin-top:5px;
}
.reply-bottom,
.reply-bottom *{
    color: #999;
    font-size: 12px;
}
.reply-ta{
    cursor: pointer;
}
.reply-reply-content {
    overflow: auto;
    line-height: 20px;
    background-color: #fbfbfb;
    display: none;
    width: 360px;
    color: #999;
    font-size: 12px;
    padding:10px 20px;
    position: absolute;
    text-shadow: 0 1px 0 #fff;
    box-shadow: inset 0 1px 1px #fff,0 2px 6px rgba(0,0,0,0.4);
    border: 1px solid #aaa;
}
.reply-right-top{
    margin-bottom: 6px;
    overflow: auto;
}
.reply-user-name,
.reply-to-reply{
    float:left;
}
.reply-to-user{
    cursor: pointer;
}
.reply-to-user:hover ~ .reply-reply-content {
    display: block;
}
.reply-no-login {
    text-align: center;
    padding: 10px 0;
}
.reply-no-login span {
    color: #4285f4;
    cursor: pointer;
}
.qq-face {
    float: right;
    background: url("/resources/images/png/facebg.png") no-repeat scroll 0 -100px;
    padding: 10px;
    cursor: pointer;
}
.textarea-wrapper {
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 99px;
    border-bottom: 0;
    float:left;
}
.textarea-wrapper .edit-p {
    border: 0 none;
    font-size: 12px;
    height: 60px;
    padding: 5px 10px;
    resize: none;
    width: 495px;
    word-break: break-all;
    word-wrap: break-word;
    margin: 0;
    line-height: 20px;
    max-height: 60px;
    overflow: auto;
}
.textarea-wrapper .post-toolbar {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    position: relative;
    width: 100%;
    background-color: #fafafa;
    height: 32px;
    margin: 0;
    border-top: 1px solid #ccc;
    margin-top: -3px;
    border-bottom: 1px solid #ccc;
}
.ds-post-button {
    background-color: #e6e6e6;
    box-shadow: 0 0 1px #fff inset;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    top: 0;
    transition: all 0.15s linear 0s;
    width: 100px;
}
.close-reply {
    float: right;
    clear: both;
    text-align: right;
    padding: 0 15px 5px 0;
    color: #999;
    font-size: 12px;
    cursor: pointer;
}
.reply-comment p{
    margin-bottom:5px;
}
/*评论结束*/

/*member-list*/
.subnam-member span{
    font-size: 12px;
    color: #8c8c8c;
}
.can-click span{
    cursor: pointer;
}
.can-click .group-count{
    color: #ff0000;
}
/*member-list结束*/

/*detail*/
.body-detail .reply,
.body-detail .hr-reply,
.body-detail .close-reply{
    display: none;
}
.body-detail .section{
    padding-top:20px;
}
.detail-top{
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 0;
}
.detail-info{
    color: #999;
    font-size: 12px;
    padding-top:5px;
    overflow: auto;
}
.detail-info-name,.detail-info-time{
    margin-right: 10px;
    float:left;
    display: block;
}
.detail-info-scan,.detail-info .examine{
    margin-left: 10px;
    float:right;
    display: block;
}
.detail-title{
    font-size: 24px;
    color:#0077bb;
    padding:10px 0;
}
.detail-middle{
    padding:20px 0 !important;
    line-height: 32px !important;
    word-wrap: break-word !important;
    word-break: normal !important;
    overflow: hidden !important;
    color:#333;
    font-size: 14px !important;
}
.detail-middle img{
    max-width: 100%;
}
.detail-middle p img{
    max-width: 100%;
}
.share {
    margin: 30px 30px 30px 0;
}
.share span {
    margin-top: 6px;
    float: left;
}
/*detail结束*/

/* QQ表情支持*/
.facebox{
    position: absolute;
    display: none;
}
.facebox .qq-bg{
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 170px;
    overflow: hidden;
    width: 390px;
    padding:10px;
    background-color: #fff;
    -webkit-box-shadow:0 0 10px #0CC;
    -moz-box-shadow:0 0 10px #0CC;
    box-shadow:0 0 5px #0CC;
}
.facebox ul{
    width:390px;
    margin-left: 12px;
    margin-top: -178.5px;
    overflow: auto;
    position: relative;
}
.facebox ul li{
    cursor: pointer;
    float: left;
    height: 27.4px;
    width: 27.5px;
}
.facebox ul li:hover{
    border:1px solid #4ca0d9;
}
.qq-face{
    float:right;
    background:url("/resources/images/png/facebg.png") no-repeat scroll 0 -100px;
    padding: 10px;
    cursor: pointer;
}
.qq-face:hover{
    background-position: 0 -120px;
}
/* QQ表情支持结束*/

/*登陆，注册，绑定，昵称*/
.layout{
    width: 360px;
    margin: 80px auto 0;
}
.layout input{
    width:100%;
    height: 45px;
    line-height: 45px;
    outline: 0 none;
    padding: 6px 12px 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    box-sizing: border-box;
    color: #585858;
    margin-top:15px;
    box-shadow: .5px 1px 1px #f0f0f0 inset;
}
.layout #code{
    width:80%;
}
.layout #checkpic{
    float: right;
    margin-top:20px;
    cursor: pointer;
    border-radius: 4px;
}
.layout .sub{
    margin-top: 40px;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/png/login_btn.png");
}
.layout .sub:hover{
    background-image: url("../images/png/login_btn_hover.png");
}
.layout .bottom-item{
    overflow: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}
.layout .bottom-item a{
    float:right;
    font-size: 12px;
    color: #4896ff;
    text-decoration: none;
}
.layout .login-register{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    color: #585858;
    cursor: pointer;
    float: right;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 80px;
}
.layout .login-register:hover{
    background:#fafafa;
}
.layout .login-third{
    float:left;
    margin-top:-10px;
}
.layout .login-third p{
    width:100px;
    color:#6c6c6c;
    font-size:12px;
    margin:0;
    padding:0;
    margin-bottom: 2px;
}
.layout .third-icon {
    background-image: url("../images/png/icon.png");
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    margin-right: 15px;
    width: 30px;
}
.layout .login-item .third-icon.moretv {
    background-position: -101px -68px;
}
.layout .qq {
    background-position: -173px 0;
}
.layout .sina {
    background-position: -139px 0;
}
.layout .douban {
    background-position: -244px 0;
}
.layout .weixin {
    background-position: -209px 0;
    margin-top: 2px;
}
.layout .logo{
    height: 100px;
    width:100px;
    margin:0 auto;
    border-radius: 50px;
    background-image: url("../images/jpg/logo.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    margin-bottom: 20px;
}
.layout .info-one{
    font-size: 13px;
    color: #9D9D9D;
}
.layout .info-two{
    font-size: 13px;
    color: #F0752F;
}
/*登陆，注册，绑定，昵称结束*/

/*提交*/
.main .sub{
    padding-top:20px;
}
.say-something{
    background-color: #fafafa;
    font-size: 14px;
    margin-top: 20px;
}
.main .sub button {
    border: 1px solid #e8e8e8;
    color: #8c8c8c;
    font-size: 12px;
    padding: 2px;
    cursor: pointer;
    background: #fdfdfd;
    width: 100%;
}
.main .sub button:hover{
    background: #fafafa;
}
.main .sub p {
    margin: 5px 0 10px 0;
}
.main .sub .textarea-prompt{
    line-height: 20px;
    color:#8c8c8c;
}
.sub  #content{
    width:590px;
}
.sub .textarea-prompt a{
    color:red;
    border-bottom: 1px solid red;
}
.main .sub p input {
    width: 300px;
    font-size: 12px;
    padding: 2px 10px;
    border: 1px solid #e8e8e8;
}
.tag, .add-tag {
    border: 1px solid #e8e8e8;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.tag-wapper{
    overflow: auto;
}
.tag-wapper .label{
    float:left;
    padding-top:10px;
}
.tag-select {
    border: 1px solid #20cd55;
    background-size: 15px 15px;
    background-image: repeating-linear-gradient(315deg,#20cd55 0,#20cd55 50%,transparent 50%,transparent 100%);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.tag input {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    width: 40px !important;
    cursor: pointer;
    text-align: center;
}
/*提交结束*/

/*kindeditor*/
.sub .ke-container{
    max-width:600px;
}
.ke-dialog-content .tab1 div ~ div {
    display: none;
}
#tabContent{
    max-height: 220px;
    overflow-y: scroll;
}
.ke-upload-area .ke-upload-file{
    cursor:pointer;
}
.ke-container .ke-toolbar, .ke-container .ke-statusbar {
    background-color: #fdfdfd;
}
.body-content .sub .ke-toolbar .ke-outline {
    float: right;
}
.body-content .sub .ke-toolbar .ke-outline .ke-outline-name {
    font-size: 12px;
    line-height: 14px;
    margin-left: 2px;
}
.body-content .sub .ke-toolbar .ke-outline span {
    float: left;
}
/*kindeditor结束*/

/*section*/
.section{
    border-top: 1px solid #dedede;
}
.section:first-child{
    border-top:0;
}
.section-top{
    overflow: auto;
    padding:8px 0;
    height:32px;
}
.section-middle{
    padding:10px 0;
    color:#252525;
    line-height: 24px;
}
.peripheral{
    margin-top:4px;
}
.main-content .peripheral{
    display: none;
}
.section-bottom{
    padding:10px 0;
    font-size: 12px;
    color: #8c8c8c;
    text-align: right;
}
.section-top div{
    float:left;
    height: 30px;
    line-height: 30px;
}
.section-avatar{
    margin-right:12px;
}
.section-avatar img{
    width:30px;
    height:30px;
}
.section-user-name{
    color:#777;
    font-size: 12px;
    margin-right:5px;
}
.section-createtime{
    font-size: 12px;
    color:#b5b5b5;
}
.section-top .floor{
    font-size: 12px;
    color:#b5b5b5;
    float:right;
}
.section-middle .sina-show {
    max-height: 600px;
}
.peripheral img{
    max-width: 100%;
    cursor: pointer;
}
.peripheral .sina-show-gif{
    min-width:240px;
}
.peripheral .play{
    display: none;
    color: #fff;
    opacity: 0.4;
    text-align: center;
    background-color: #000000;
    cursor: pointer;
    width: 0;
    overflow: hidden;
}
.peripheral .loading_error{
    background-color: #eeeeee;
    color: #aaa;
    font-size: 24px;
    height: 170px;
    line-height: 160px;
    text-align: center;
    width: 272px;
}
.section-middle .main-content{
    width:100%;
    clear:both;
}
.section-middle .loading{
    width:268px;
    clear:both;
}
.oo , .xx , .reply{
    background-repeat: no-repeat;
    background-position: center center;
    background-size:16px 16px;
    padding:6px 10px;
    font-size: 12px;
    color: #8c8c8c;
    cursor: pointer;
}
.oo{
    background-image: url('/resources/images/png/up-h.png');
}
.oo:hover{
    background-image: url('/resources/images/png/up.png');
}
.xx{
    background-image: url('/resources/images/png/down-h.png');
    background-position: center 8px;
}
.xx:hover{
    background-image: url('/resources/images/png/down.png');
}
.reply{
    background-image: url('/resources/images/png/msg-h.png');
    background-position: center 8px;
}
.reply:hover{
    background-image: url('/resources/images/png/msg.png');
}
.oo:hover , .xx:hover ,.reply:hover{
    background-size:20px 20px;
}
.xx:hover ,.reply:hover{
    background-position: center center;
}
/*section结束*/

/*row*/
.row{
    clear: both;
    padding: 15px 0px;
    overflow: auto;
    border-top: 1px solid #e8e8e8;
}
.row-body{
    overflow: auto;
    clear:both;
}
.row-left {
    width: 500px;
    float: left;
}
.row-top{
    overflow: auto;
    margin: 5px 0;
}
.row-middle span{
    color:#8c8c8c;
}
.row-title{
    font-size: 18px;
    max-width: 500px;
    display: block;
    float: left;
    margin-top: -2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333333;
}
.row-tags{
    margin: 0;
    padding: 0;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 0;
}
.row-bottom * {
    color: #999;
    font-size: 9pt;
}
.row-user-name{
    color:#777;
}
.row-bottom{
    float: left;
    text-align: left;
    color: #999;
    clear: both;
    width:100%;
    margin-top: 16px;
    overflow: hidden;
    min-height: 20px;
    padding:4px 0;
}
.row-bottom .xx,
.row-bottom .examine,
.row-bottom .scan,
.row-bottom .response{
    margin-left:10px;
}
.row-right strong {
    font-size: 16pt;
    padding: 0 6px;
    display: block;
}
.row-right {
    float: right;
    width: 60px;
    height: 48px;
    text-align: center;
    background-color: #7798cb;
    color: #fff;
    margin-top: 10px;
    font-size: 8pt;
    padding-top: 5px;
}
/*row结束*/

/*main-right*/
.to-sub{
    width:100%;
    text-align: center;
    padding:10px 0;
    background-color: #3385ff;
    border: 1px solid #2f7be9;
    border-radius: 5px;
    cursor: pointer;
}
.to-sub span{
    font-size: 18px;
    opacity: 0.7;
    color:#fff;
    padding-left:30px;
    background-image: url("/resources/images/png/to-sub.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.to-sub:hover{
    background-color: #1876ff;
}
.to-sub:hover span{
    opacity: 1;
}
/*main-right结束*/

/*footer*/
.footer{
    padding:20px 0;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.15);
    border-top: 1px solid #dedede;
    width:100%;
}
.footer-container{
    margin:0 auto;
}
.footer-container p{
    margin:0;
    text-align: center;
}
.footer a{
    color: #8c8c8c;
    text-decoration: none;
}
.footer a:hover{
    color: #8c8c8c;
    text-decoration: none;
}
#top {
    bottom: 0;
    margin-left: 980px;
    margin-bottom: 60px;
    position: fixed;
    width: 60px;
    height: 60px;
    display: none;
    cursor: pointer;
    opacity: 0.6;
    background: url(/resources/images/png/gobacktop.png) no-repeat;
}
#top:hover {
    background-color: #6c6c6c;
}
/*footer结束*/

/*个人中心*/
.person-center {
    min-height: 200px;
    box-shadow: none;
    border: 0;
}
.person-center .main{
    margin-top:40px;
    border-radius: 2px;
    border-top: 2px #fa7d3c solid;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.user-center .user-menu-left {
    float: left;
    width: 188px;
    padding-left:15px;
    background-color: #f2f2f5;
    padding-top:20px;
    border-right:1px solid #d9d9d9;
}
.user-center .user-menu-left ,
.user-center .user-info-right{
    min-height: 500px;
}
.user-center .user-menu-left h3 {
    padding-left: 20px;
    font-size: 20px;
    line-height: 60px;
    color: #333;
    font-weight: normal;
    margin-bottom: 10px;
}
.user-center .user-menu-left ul li {
    float: left;
    width: 168px;
    height: 42px;
    line-height: 42px;
    padding-left: 20px;
}
.user-center .user-menu-left ul li a{
    color:#333;
}
.user-center .user-menu-left ul li.at{
    position: relative;
    border:1px solid #d9d9d9;
    background-color: #fff;
    border-right: 0;
}
.user-center .user-info-right {
    width: 620px;
    float: left;
    margin-left: 30px;
    font-size: 14px;
    margin-bottom: 20px;
}
.user-center{
    overflow: auto;
}
.user-center-title {
    font-size: 20px;
    font-weight: normal;
    color: #333;
    border-bottom: 2px solid #eee;
    height:60px;
    line-height: 60px;
    padding-left:20px;
    background-color: #fff;
}
.user-center .person-info {
    margin-top: 20px;
}
.user-center .person-info .div-wrapper {
    overflow: auto;
    padding:10px 0;
    clear:both;
}
.user-center .person-info .info-avatar-img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.person-info .name-email {
    float: left;
}
.person-info .name-email .u-name {
    font-size: 28px;
    color: #333;
}
.person-info .name-email .u-email {
    margin-top: 10px;
}
.my-sub a {
    float: left;
    margin-left: 20px;
    margin-top: 8px;
    cursor: pointer;
}
.person-info .separate {
    margin-left: 5px;
}
.user-center input {
    border: 1px solid #ddd;
    height: 28px;
    line-height: 28px;
    width: 215px;
    color: #555;
    padding-left: 10px;
    webkit-box-shadow: .5px 1px 1px #f0f0f0 inset;
    -moz-box-shadow: .5px 1px 1px #f0f0f0 inset;
    -ms-box-shadow: .5px 1px 1px #f0f0f0 inset;
    -o-box-shadow: .5px 1px 1px #f0f0f0 inset;
    box-shadow: .5px 1px 1px #f0f0f0 inset;
    border-radius: 2px;
}
.user-center select {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.sex-wrapper , .age-wrapper{
    float:left;
    padding:10px 0;
}
.select-all{
    cursor: pointer;
}
.age-wrapper{
    margin-left:28px;
}
.c-subbutton {
    background-color: #ff7800;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-top: 30px;
    width: 130px;
    height: 34px;
    line-height: 34px;
    border-radius: 2px;
    text-align: center;
    border: medium none;
    font-size: 16px;
    margin-right: 20px;
}
.c-subbutton:hover {
    background-color: #ff6600;
}
.op #show {
    background-color: #4285f4;
}
.op #show:hover {
    background-color: #4265a4;
}
.user-center .avatar-info {
    width: 460px;
    float: left;
}
.user-center .avatar-info input {
    width: 380px;
}
.avatar-info span{
    color: #8c8c8c;
    font-size: 12px;
}
/*个人中心结束*/

/*PC端*/
@media screen and (min-width: 661px) {
    .body-content  .nav ,
    .body-article .nav,
    .body-member .nav{
        position: fixed;
		opacity:0.96;
        top:0;
    }
    .body-content  .subnav-wrapper ,
    .body-article .subnav-wrapper ,
    .body-member .subnav-wrapper{
       margin-top:80px;
    }
    .nav-container{
        width:960px;
    }
    .main {
        margin: 20px auto 50px;
        overflow: hidden;
    }
    .main-left{
        float:left;
        border-radius: 2px;
        padding:0 20px;
        border: solid 1px #dedede;
        min-height: 100px;
    }
    .main-width{
        width:960px;
    }
    .main-left-width{
        width:600px;
    }

    /*main-right*/
    .main-right{
        float:right;
        width:302px;
        min-height:50px;
    }
    .right-wrapper{
        border-radius: 2px;
        border:1px solid #dedede;
        margin-bottom: 20px;
        background-color: #fff;
        padding:10px 20px;
    }
    /*main-right结束*/
}
/*手机端结束*/

/*PC端*/
@media screen and (max-width: 660px) {
    .main-right,
    .bdshare-slide-button-box,
    .nav .logo,
    .nav .search,
    .nav-desc,
    .footer,
    .nav-user,
    .nav-edit,
    .row-right{
        display: none !important;
    }
    .main {
        margin-bottom: 50px;
    }
    .nav{
        overflow: auto;
    }
    .nav .nav-ul{
        float:left;
        margin:0;
    }
    .main-left{
        padding:0 10px;
    }
    .subnav-wrapper{
        margin:20px;
        overflow: auto;
        clear:both;
    }
    .row-left{
        width:100%;
    }
    .reply-right{
        width:auto;
    }
    .user-center .user-info-right {
        width: auto;
    }
    .person-center .main {
        margin-left:10px;
        margin-right:10px;
    }
    .user-center .user-menu-left {
        width:108px;
    }
    .user-center .user-menu-left ul li {
        width:88px;
    }
    .user-center .avatar-info {
         width: auto;
         float: right;
     }
    .user-center .avatar-info input {
        width: auto;
    }
    .c-subbutton{
        width:60px;
    }
}
/*手机端结束*/