<div class="main main-width">
    <div class="user-center">
        <h3 class="user-center-title">个人中心</h3>
        <div class="user-menu-left">
            <ul>
                <li {if $select == 1}class="at"{/if} >
                <a href="/member/info">个人资料</a>
                </li>
                <li {if $select == 2}class="at"{/if} >
                <a href="/member/avatar">修改头像</a>
                </li>
                <li {if $select == 3}class="at"{/if} >
                <a href="/member/pass">修改密码</a>
                </li>
            </ul>
        </div>