<div class="subnav-wrapper main-width">
    <ul class="subnav">
        {foreach from=$sort key=key item=value}
        <li {if $cur_sort == $key}class='active'{/if}>
            <a href="/{$nav}{if $key != 'new'}/{$key}{/if}">{$value.name}</a>
        </li>
        {/foreach}
    </ul>
    <div class="nav-desc">{$menu}</div>
</div>
<div class="main main-width">
    <div class="main-left main-left-width">
        {if $count > 10}<div class="pagination page-top">{$page}</div>{/if}
        <div class="list">
            {foreach from=$list key=key item=one}
            <div class="row section">
                <div class="row-body">
                    <div class="row-left">
                        <p class="row-top">
                            <a class="row-title" target="_blank" href="{$one.detail_url}">{$one.title}</a>
                        </p>
                        <p class="row-middle">
                            <span>标签：</span>
                            {foreach from=$one.tags key=key item=tag}
                                <span class="row-tags">{$tag}</span>
                            {/foreach}
                        </p>
                        <p class="row-bottom oo-xx">
                            <span class="row-user-name">{$one.name}</span>
                            <span> 发表于{$one.create_time}</span>

                            <span class="jian-ge">&nbsp;&nbsp;</span>
                            <span class="response"></span>
                            <a class="oo" data-id="{$one.con_id}"></a>[<span class="good">{$one.good}</span>]
                            <span class="jian-ge">&nbsp;</span>
                            <a class="xx" data-id="{$one.con_id}"></a>[<span class="bad">{$one.bad}</span>]
                            <span class="examine">
                                <span class="jian-ge">&nbsp;</span>
                                <span class="reply" data-id="{$one.con_id}"></span>[<span class="reply-count">{$one.reply}</span>]
                            </span>
                            <span class="jian-ge">&nbsp;</span>
                            <span class="scan">浏览[{$one.scan}]</span>
                        </p>
                    </div>
                    <div class="row-right"><strong>{$one.day}</strong>{$one.year}</div>
                 </div>
            </div>
            {/foreach}
        </div>
        {if $count > 10}<div class="pagination">{$page}</div>{/if}

        {if $is_show == 1}
        <div class="sub examine">
            <p class="say-something">&nbsp;</p>
            {if $is_login == 1}
                <p>{$name},说些什么吧</p>
                <input type="hidden" name="email" id="email" value="{$email}" />
                <input type="hidden" name="name" id="name" value="{$name}" />
            {else}
                <p>昵称：<input type="text" name="name" id="name" value="{$name}" /></p>
                <p>邮箱：<input type="text" name="email" id="email" value="{$email}" /></p>
            {/if}
            <p class="textarea-prompt">
                [1] 图片可上传到 <a target="_blank" href="http://photo.weibo.com/photos/upload">微博相册</a>；右键复制图片地址，点击图片按钮，粘贴至输入框。
                <br>
                [2] 请勿发色情/暴恐/时政/二维码等水印的图；勿重复发图，发布后请等待审核。
            </p>
            <p>标题：<input placeholder="请填写标题" type="text" name="title" id="title" value="" /></p>
            <p class="tag-wapper">
                <span class="label">标签：</span>
                {foreach from=$tags key=key item=tag}
                <span class="tag">{$tag}</span>
                {/foreach}
                <span class="tag my-tag">
                    <input placeholder="请输入" value="">
                </span>
                <span class="add-tag">+</span>
            </p>
            <p><textarea name="content" id="content"></textarea></p>
            <p><button id="submit" class="clear">submit</button></p>
        </div>
        {/if}
        <input type="hidden" id="type" value="{$type}" />
        <input type="hidden" id="comment-url" value="/article/record" />
    </div>
{literal}
<script charset="utf-8" src="/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/kindeditor/emoticons.js"></script>
<script charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#content', {
            newlineTag : "br" ,
            itemsName : false,
            filterMode : true,
            items : [
                'justifyleft', 'justifycenter', '|','fontsize',  'forecolor',  'bold',
                'italic', 'underline', 'strikethrough','|',
                'link', 'image', '|','selectall','fullscreen', 'preview',
            ],
            htmlTags : {
                'strong,s,b,i,em,pre,blockquote':[],
                span : ['.color', '.text-align',  '.font-size'],
                a : ['href', 'target'],
                div:['align','.text-align'],
                img : ['src', 'width', 'height', 'alt'],
                p : ['align','.text-align', '.color',  '.font-size', '.font-weight']
            }
        });
    });
</script>
<script>
    var sub_cfg = {};
    sub_cfg.requestUrl = '/article/save';
    sub_cfg.success = function(result){
        alert_msg(result.msg,'success');
        setTimeout(function(){
            window.location.href=window.location.href;
        },500);
    };

    $("#submit").click(function(){
        var name = $.trim($("#name").val());
        var email = $.trim($("#email").val());
        var title = $.trim($("#title").val());
        var content = $(document.getElementById('myiframe').contentWindow.document.body).html();
        var type = $("#type").val();
        var tags = get_tags();

        if(tags == '')  return false;
        if(!valid(name,email,content))  return false;

        $.cookie('name', name ,  { path:'/', expires: 365 });
        $.cookie('email', email ,  { path:'/', expires: 365 });
        sub_cfg.data = {
            "name":name,"email":email,'title':title ,'content':content,'type':type, 'tags':tags
        };
        ajax_res(sub_cfg,this);
    })

    function get_tags(){
        var flag = 0;
        var tags = '';
        $('.tag-select').each(function(){
            if($(this).children('input').length == 1){
                var cur_tag = $.trim($(this).children('input').val());
            }else{
                var cur_tag = $(this).text();
            }
            if(cur_tag != ''){
                tags += cur_tag+' ';
            }else{
                flag = 1;
            }
        });
        if(flag == 1){
            alert_msg('请输入有效标签');
            return '';
        }
        if(tags == '') alert_msg('请添加标签');
        return tags;
    }

</script>
{/literal}