<div class="main left">
    <div class="nav-title">{$menu}<span class="mao edit-info"></span></div>
    <div class="tag-nav-wapper">
        {foreach from=$tags key=key item=tag}
        <span class="tag-nav">{$tag}</span>
        {/foreach}
    </div>

    {if $count > 0}
        {if $count > 10}<div class="pagination page-top">{$page}</div>{/if}
        <div class="main-list">
            {foreach from=$list key=key item=one}
            <div class="one{if $key == 0 } first{/if}">
                <div class="article-one-left">
                    <p class="detail-wapper">
                        <a class="detail-title" target="_blank" href="{$one.detail_url}">{$one.title}</a>
                    </p>
                    <p class="detail-tags">
                        <span class="left">标签：</span>
                        {foreach from=$one.tags key=key item=tag}
                            <span class="tag-nav">{$tag}</span>
                        {/foreach}
                    </p>
                    <p class="article-click oo-xx">
                        {if $one.user_sn != ''}
                        <span class="vip"></span><a href="/member/{$one.user_sn}">{$one.name}</a>
                        {else}
                        <span class="time text-right">{$one.name}</span>
                        {/if}
                        <span class="time text-right"> 发表于{$one.create_time}</span>
                        <span class="response"></span>
                        <span class="jian-ge">&nbsp;&nbsp;</span>
                        <a class="oo" data-id="{$one.con_id}">顶</a>(<span class="good">{$one.good}</span>)
                        <span class="jian-ge">|</span>
                        <a class="xx" data-id="{$one.con_id}">踩</a>(<span class="bad">{$one.bad}</span>)
                        <span class="jian-ge">|</span>
                        <span class="scan time">评论({$one.reply})</span>
                        <span class="jian-ge">|</span>
                        <span class="scan time">浏览({$one.scan})</span>
                    </p>
                </div>
                <div class="article-one-right"><strong>{$one.day}</strong>{$one.year}</div>
            </div>
            {/foreach}
        </div>
        {if $count > 10}<div class="pagination">{$page}</div>{/if}
    {else}
        <div class="empty"><h2 class="center">没有结果哦~去看看别的吧</h2></div>
    {/if}

    {if $is_show == 1}
    <div class="sub">
        {if $is_login == 1}
            <p>{$name},说些什么吧</p>
            <input type="hidden" name="email" id="email" value="{$email}" />
            <input type="hidden" name="name" id="name" value="{$name}" />
        {else}
            <p>&nbsp;</p>
            <p>昵称：<input type="text" name="name" id="name" value="{$name}" /></p>
            <p>邮箱：<input type="text" name="email" id="email" value="{$email}" /></p>
        {/if}
        <p>标题：<input placeholder="请填写标题" type="text" name="title" id="title" value="" /></p>
        <p class="tag-wapper">
            {foreach from=$tags key=key item=tag}
            <span class="tag">{$tag}</span>
            {/foreach}
            <span class="add-tag">+</span>
        </p>
        <p class="textarea-prompt">
            图片请上传到 <a target="_blank" href="http://photo.weibo.com/photos/upload">[微博相册]</a>
        </p>
        <p><textarea name="content" id="content"></textarea></p>
        <p><button id="submit" class="clear">submit</button></p>
    </div>
    {/if}
    <input type="hidden" id="type" value="{$type}" />
    <input type="hidden" id="comment-url" value="/article/record" />
</div>
{literal}
<script charset="utf-8" src="/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/kindeditor/emoticons.js"></script>
<script charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#content', {
            newlineTag : "br" ,
            itemsName : false,
            filterMode : false,
            items : [
                'undo', 'redo', '|',  'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', 'pagebreak', '|', 'fullscreen', 'preview',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'table', 'hr', 'emoticons',  'link', 'unlink', 'about','|'
            ]
        });
    });
</script>
<script>
    var sub_cfg = {};
    sub_cfg.requestUrl = '/article/save';
    sub_cfg.success = function(result){
        alert_msg(result.msg,'success');
        setTimeout(function(){
            window.location.href=window.location.href;
        },500);
    };

    $("#submit").click(function(){
        var name = $.trim($("#name").val());
        var email = $.trim($("#email").val());
        var title = $.trim($("#title").val());
        var content = $(document.getElementById('myiframe').contentWindow.document.body).html();
        var type = $("#type").val();
        var tags = get_tags();

        if(tags == '' || !valid(name,email,content))  return false;

        $.cookie('name', name ,  { path:'/', expires: 365 });
        $.cookie('email', email ,  { path:'/', expires: 365 });
        sub_cfg.data = {
            "name":name,"email":email,'title':title ,'content':content,'type':type, 'tags':tags
        };
        ajax_res(sub_cfg);
    })

    function get_tags(){
        var tags = '';
        $('.tag-select').each(function(){
            if($(this).children('input').length == 1){
                var cur_tag = $(this).children('input').val();
            }else{
                var cur_tag = $(this).text();
            }
            if(cur_tag != '') tags += cur_tag+' ';
        });
        if(tags == '') alert_msg('请添加标签');
        return tags;
    }

</script>
{/literal}