<div class="main left">
    <div class="nav-title">{$menu}<span class="mao edit-info"></span></div>
    <div class="depict">{$info}</div>
    {if $count > 0}

        {if $count > 10}<div class="pagination page-top">{$page}</div>{/if}

        <div class="main-list">
            {foreach from=$list key=key item=one}
            <div class="one{if $key == 0 } first{/if}">
                <div class="user">
                    {if $one.avatar != ''}
                    <div class="avatar-wapper">
                        <div class="login-avatar">
                            <a href="/member/{$one.user_sn}"><img title="{$one.name}" src="{$one.avatar}" /></a>
                        </div>
                    </div>
                    {/if}
                    {if $one.user_sn != ''}
                    <a href="/member/{$one.user_sn}"><p class="name text-right" title="{$one.u_name}"><span class="vip"></span>{$one.name}</p></a>
                    {else}
                    <p class="name text-right" title="{$one.u_name}">{$one.name}</p>
                    {/if}
                    <p class="time text-right">{$one.create_time}</p>
                </div>
                <div class="content">
                    <div class="content-body{if $one.avatar != ''} avatar-min-height{/if}">{$one.content}</div>
                    <p class="right clear click oo-xx">
                        <span class="response"></span>
                        <a class="oo" data-id="{$one.con_id}">OO</a>[<span class="good">{$one.good}</span>]
                        <a class="xx" data-id="{$one.con_id}">XX</a>[<span class="bad">{$one.bad}</span>]
                        <a class="reply" data-id="{$one.con_id}">↓评论</a>[<span class="reply-count">{$one.reply}</span>]
                    </p>
                </div>
            </div>
            {/foreach}
        </div>
        {if $count > 10}<div class="pagination">{$page}</div>{/if}
    {else}
        <div class="empty"><h2 class="center">没有结果哦~去看看别的吧</h2></div>
    {/if}

    <div class="sub">
        {if $is_login == 1}
            <p>{$name},说些什么吧</p>
            <input type="hidden" name="email" id="email" value="{$email}" />
            <input type="hidden" name="name" id="name" value="{$name}" />
        {else}
            <p>&nbsp;</p>
            <p>昵称：<input type="text" name="name" id="name" value="{$name}" /></p>
            <p>邮箱：<input type="text" name="email" id="email" value="{$email}" /></p>
        {/if}
        <p class="textarea-prompt">
            图片请上传到 <a target="_blank" href="http://photo.weibo.com/photos/upload">[微博相册]</a>
        </p>
        <p><textarea name="content" id="content"></textarea></p>
        <p><button id="submit" class="clear">submit</button></p>
    </div>
    <input type="hidden" id="type" value="{$type}" />
    <input type="hidden" id="comment-url" value="/content/record" />
</div>
{literal}
<script charset="utf-8" src="/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/kindeditor/emoticons.js"></script>
<script charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#content', {
            newlineTag : "p" ,
            itemsName : true,
            items : [ 'image' , 'link' ,'emoticons']
        });
    });
</script>
<script>
    var sub_cfg = {};
    sub_cfg.requestUrl = '/content/save';
    sub_cfg.success = function(result){
        alert_msg(result.msg,'success');
        setTimeout(function(){
            window.location.href=window.location.href;
        },500);
    };

    $("#submit").click(function(){
        var name = $.trim($("#name").val());
        var email = $.trim($("#email").val());
        var content = $(document.getElementById('myiframe').contentWindow.document.body).html();
        var type = $("#type").val();
        if(!valid(name,email,content)){
            return false;
        }
        $.cookie('name', name ,  { path:'/', expires: 365 });
        $.cookie('email', email ,  { path:'/', expires: 365 });
        sub_cfg.data = {
            "name":name,"email":email,'content':content,'type':type
        };
        ajax_res(sub_cfg);
    })

</script>
{/literal}