<div class="main main-width">
    <div class="main-left main-left-width">
        <div class="detail-top">
            <p class="detail-title">{$data.title}</p>
            <p class="detail-info">
                <span>{$data.create_time}</span>
                <span>{$data.name}</span>
                <span class="examine">
                    <span class="down cursor">评论[{$data.reply}]</span>
                    <span class="down edit-info"></span>
                </span>
                <span>浏览[{$data.scan}]</span>
            </p>
        </div>
        <div class="detail-middle">{$data.content}</div>
        <div class="bdsharebuttonbox share">
            <span>分享到：</span>
            <a href="#" class="bds_qzone share-qzone" data-cmd="qzone" title="分享到QQ空间"></a>
            <a href="#" class="bds_tsina share-sina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a href="#" class="bds_weixin share-weixin" data-cmd="weixin" title="分享到微信"></a>
        </div>
        <div  class="detail-reply section examine">
            <span data-id="{$data.con_id}" class="reply"></span>
        </div>
        <input type="hidden" id="type" value="{$data.type}" />
        <input type="hidden" id="unique-id" value="{$data.con_id}" />
        <input type="hidden" id="comment-url" value="/content/record" />
    </div>

<script>
    $(document).ready(function(){
        $(".reply").trigger("click");
    });

    {literal}
    window._bd_share_config={
        "common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},
        "share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"}};
        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/resources/js/baidu.share.js'];
    {/literal}
</script>