<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="all" />
    <title>{$title}</title>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="baidu-site-verification" content="leR8JXSjjs" />
    <meta property="qc:admins" content="1656153257476771701636" />
    <meta property="wb:webmaster" content="6180854de14faebe" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/resources/css/common.css"/>
    <script src="/resources/js/jquery.js"></script>
    <script src="/resources/js/jquery.cookie.js"></script>
    <script src="/resources/js/common.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?7bd2c0cd306b224f207ca4cf0fa6e49c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body class="{$body}">
<div class="nav">
    <div class="nav-container">
        <div class="logo">
            <a href="/"><img src="/resources/images/png/gao.png" /></a>
        </div>
        <div class="search">
            <input type="text" id="search" placeholder="本栏搜索" value="{$search}">
            <div class="search-btn"></div>
        </div>
        <div class="nav-edit"><span class="edit-info down"></span></div>
        <div class="nav-user examine">
            {if $is_login == 0}
            <a href="/login">登录</a>
            <a href="/register">注册</a>
            {else}
            <a  class="user-icon" href="/user/info">{$name}</a>
            <div class="dropdown">
                <a href="/user/info">个人中心</a>
                <a href="/login/login_out">退出</a>
                {if $is_admin == 1}<a href="/admin">后台</a>{/if}
            </div>
            {/if}
        </div>
        <ul class="nav-ul">
            {foreach from=$navigation key=key item=val}
            <li><a {if $nav == $val.alias}class="active"{/if} href="/{$val.alias}">{$val.name}</a></li>
            {/foreach}
        </ul>
    </div>
</div>