<!DOCTYPE html>
<html class="theme">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Markdown 编辑阅读器">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搞东搞西－ markdown编辑阅读器 </title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/resources/css/common.css" rel="stylesheet" media="screen">
    <link href="/resources/css/markdown/base.lib.css" rel="stylesheet" media="screen">
    <link id="prettify-style" href="/resources/css/markdown/prettify-cmd.css" type="text/css" rel="stylesheet">
    <link href="/resources/css/markdown/layout.css" rel="stylesheet" media="screen">
    <link href="/resources/css/markdown/mdeditor.lib.css" rel="stylesheet" media="screen">
</head>

<body class="theme">
<div id="container">
<div id="editor-column" class="pull-left">
<div id="wmd-button-bar" class="wmd-button-bar"></div>
<div id="wmd-panel-editor" class="wmd-panel-editor">

<textarea class="wmd-input theme" id="wmd-input" spellcheck="false" autocomplete="off">
{$content}
</textarea>

</div>
</div>
<div id="preview-column" class="pull-right">
    <div id="preview-button-bar" class="preview-button-bar">
        <ul class="preview-button-row pull-right" id="preview-button-row">
            <li title="完善信息 Ctrl+Alt+F" id="preview-list-button" class="preview-button dropdown">
                <span data-toggle="dropdown" class="dropdown-toggle icon-reorder" style="color: rgb(187, 187, 187);">&nbsp;完善信息</span>
                <ul role="menu" class="dropdown-menu theme-black pull-right" id="file-list-topbar">
                    {if $is_login == 1}
                        <input type="hidden"  id="email" value="{$email}">
                        <input type="hidden"  id="name"  value="{$name}">
                    {else}
                        <li>
                            <input class="my-input" type="text" placeholder="填写邮箱" id="email" value="">
                        </li>
                        <li>
                            <input class="my-input" type="text" placeholder="填写昵称" id="name"  value="">
                        </li>
                    {/if}
                    <li>
                        <input class="my-input" type="text" placeholder="文章标题" id="title" value="">
                    </li>
                    <li>
                        <input class="my-input" type="text" placeholder="填写标签[多个标签用空格隔开]" id="tags">
                    </li>
                </ul>
            </li>
            <li id="preview-publish-btn" class="preview-link editor-only">
                <div class="btn-group">
                    <button>
                        <span class="icon-share"></span>
                        发布
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <!--in page preview buttons. -->
    <div id="wmd-panel-preview" class="wmd-panel-preview preview-container">
        <div id="wmd-preview" class="wmd-preview"></div>
    </div>
</div>
    <input id="type" type="hidden" value="{$type}"/>
</div>


<!-- UML diagram, hidden always -->
<div id="uml-X-x-X-diagram" class="editor-reader-hidden-always"></div>

<div id="wmd-preview-real" class="editor-reader-hidden-always"></div>



<!-- Hidden Popup Modal -->
<div id="notification-popup-window" class="modal hide fade theme" tabindex="-1" role="dialog" aria-labelledby="notification-title" aria-hidden="true">
    <div class="modal-header theme">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="notification-title">通知</h3>
    </div>
    <div class="modal-body theme">
        <p></p>
    </div>
    <div class="modal-footer theme">
        <button id="notification-cancel" class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button id="notification-confirm" class="btn btn-primary">确认</button>
    </div>
</div>
<!-- zybuluo's foot -->

<script src="/resources/js/markdown/base.lib.js"></script>

<script>
    Namespace('com.zybuluo.base');
    com.zybuluo.base.initData = {
        globalPromptUrl: ""
    };
</script>


<!--mathjax-->
<!--blacker: 1 below means font weight.-->
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]], processEscapes: true }, TeX: { equationNumbers: { autoNumber: "AMS" } }, messageStyle: "none", SVG: { blacker: 1 }});
    </script>
<script src="/resources/js/markdown/mathjax.lib.js"></script>
<!--mathjax source code is here: https://github.com/mathjax/MathJax.-->
<script src="/resources/js/markdown/mathjax.js"></script>

<script>
    Namespace('com.zybuluo.mdeditor.layout');
    com.zybuluo.mdeditor.layout.initData = {
        loggedInUsername: '',
        isPageOwner: 'True' === 'True' ? true : false,
        loginComeFromUrl: '',
        noteRemarksUrl: '',
        newNoteRemarkUrl: '',
        updateNoteRemarkUrl: '',
        deleteNoteRemarkUrl: '',
        publishNoteRemarkUrl: '',
        newNoteRemarkReplyUrl: '',
        updateNoteRemarkReplyUrl: '',
        deleteNoteRemarkReplyUrl: ''
    };

</script>

<script src="/resources/js/markdown/layout.lib.js"></script>
<script src="/resources/js/markdown/layout.js"></script>
<script src="/resources/js/markdown/mdeditor.lib.js"></script>
<script src="/resources/js/markdown/diagram.js"></script><!-- can't be in beginmin/endmin block, otherwise error. -->

<script>
    Namespace('com.zybuluo.mdeditor');
    com.zybuluo.mdeditor.initData = {
        loginComeFromUrl: '',
        markdownHelpUrl: "",
        updateUserNoteUrl: "",
        newUserNoteUrl: "",
        deleteUserNoteUrl: "",
        publishUserNoteUrl: "",
        removePasswordUserNoteUrl: "",
        downloadPdfUrl: "",
        mdeditorNoteInfoUrl: "",
        mdeditorNoteSyncUrl: "",
        userNoteUrl: "",
        noteRevisionsUrl: "",
        noteRevisionUrl: "",
        noteRevisionSaveUrl: "",
        loginUserUrl: "",
        userTierUrl: "",
        uptokenUrl: "",
        userfileAuthUrl: "",
        userfileTrackUrl: "",
        thirdPartyAccountUrl: "",
        thirdPartyAccountExportUrl: "",
        paymentUrl: "",
        cmdDesktopVersionUrl: "",
        staticAssetsUrl: "",
        staticImgUrl: "https://www.zybuluo.com/static/img/"
    };
</script>

<script src="/resources/js/markdown/mdeditor.js"></script>
<script src="/resources/js/common.js"></script>
<script>
    var sub_cfg = {};
    sub_cfg.requestUrl = '/article/save';
    sub_cfg.success = function(result){
        alert_msg(result.msg,'success');
        setTimeout(function(){
            window.location.href='/cxy';
        },500);
    };
    $("#preview-button-row button").click(function(){
        var name = $.trim($("#name").val());
        var email = $.trim($("#email").val());
        var tags = $.trim($("#tags").val());
        var title = $.trim($("#title").val());
        var type = $.trim($("#type").val());
        var content = $.trim($("#wmd-preview").html());

        if(!available_email(email)) return false;
        if(!available_name(name)) return false;
        if(!available_content(content)) return false;
        if(!available_empty(tags,'请填写标签')) return false;

        $.cookie('name', name ,  { path:'/', expires: 365 });
        $.cookie('email', email ,  { path:'/', expires: 365 });
        sub_cfg.data = {
            "name":name,"email":email,'title':title ,'content':content,'tags':tags,'type':type,'markdown':1
        };
        ajax_res(sub_cfg,this);
    })
</script>


</body>
</html>