<div class="main left">
    <div class="nav-title">{$menu}</div>
    <div class="depict">{$info}</div>

    <div class="member-total">
        {foreach from=$group_count key=key item=one}
            <span class="group-count">{$one.type_name}
                <span data-type="{$one.type}" class="{if $key !=0}group-count-value{/if}">[{$one.num}]</span>
            </span>
        {/foreach}
    </div>

    <div class="content-list"></div>
    <input type="hidden" id="unique-id" value="{$user.user_id}" />
    <input type="hidden" id="type" value="{$type}" />

    <script src="/resources/js/tmpl.js"></script>
    <script id="content-list" type="text/x-dot-template">
    {literal}
    {{if count > 0}}
        {{if count > 10}}<div class="pagination page-top">{{html page}}</div>{{/if}}
        <div class="main-list">
            {{each(key,one) list}}
            <div class="one{{if key == 0 }} first{{/if}}">
                <div class="user member">
                    <p class="time text-right" title="${one.u_name}">${one.name}</p>
                    <p class="time text-right">发表于 ${one.create_time}</p>
                </div>
                <div class="content">
                    {{if one.is_detail == 1}}
                        <p>
                            <a class="detail-title" target="_blank" href="${one.detail_url}">${one.title}</a>
                        </p>
                    {{else}}
                        <div class="content-body{{if one.avatar != ''}} avatar-min-height{{/if}}">{{html one.content}}</div>
                    {{/if}}
                    <p class="right clear click oo-xx">
                        {{if one.tags != '' && one.is_detail == 1}}<span class="detail-tags">标签：${one.tags}</span>{{/if}}
                        <span class="response"></span>
                        <a class="oo" data-id="${one.con_id}">OO</a>[<span class="good">${one.good}</span>]
                        <a class="xx" data-id="${one.con_id}">XX</a>[<span class="bad">${one.bad}</span>]
                        {{if one.is_detail == 1}}<span class="scan time">浏览[${one.scan}]</span>{{/if}}
                    </p>
                </div>
            </div>
            {{/each}}
        </div>
        {{if count > 10}}<div class="pagination">{{html page}}</div>{{/if}}
    {{else}}
        <div class="empty"><h2 class="center">还没有发表过东西哦</h2></div>
    {{/if}}
    {/literal}
    </script>
</div>
<div class="right-container left">
    <div class="member-user-info">
        {if $user.avatar != ''}<div class="reply-avatar"><img src="{$user.avatar}" /></div>{/if}
    </div>
</div>
<script type="text/javascript">
$(function(){
    ajax_page(0);
})
function ajax_page(page){
    var type = $('#type').val();
    var user_id = $('#unique-id').val();
    $.ajax({
        url: "/member_list",
        data:{
            "id" : user_id,
            "type" : type,
            "page":page
        },
        type: "POST",
        dataType:'json',
        beforeSend: function() {
        //    $('.content-list').html('<h2 class="center">数据加载中...</h2>');
        },
        success:function(result){
            if(result.status == "error"){
                alert_msg(result.msg);
                return false;
            }
            $('.content-list').html('');
            $("#content-list").tmpl(result.data).appendTo('.content-list');
        },
        error:function(e){
            alert_msg('请求失败，请刷新重试');
        }
    });
}

$('body').on('click', '.group-count-value', function(){
    if(!$(this).hasClass("group-count-value")){
        return false;
    }
    $('#type').val($(this).attr('data-type'));
    $(this).removeClass("group-count-value").parent().siblings().children().addClass('group-count-value');
    ajax_page(0);
})
</script>