<div class="main left">
    <div class="title">{$title}</div>
    <div class="depict">{$info}</div>

    <div class="member_total">
        {foreach from=$group_count key=key item=one}
            <span class="group_count">{$one.type_name}
                <span data-type="{$one.type}" class="{if $key !=0}group_count_value{/if}">[{$one.num}]</span>
            </span>
        {/foreach}
    </div>

    <div class="content_list"></div>
    <input type="hidden" id="unique_id" value="{$user.user_id}" />
    <input type="hidden" id="type" value="{$type}" />

    <script src="/resources/js/tmpl.js"></script>
    <script id="content_list" type="text/x-dot-template">
    {literal}
    {{if count > 0}}
        {{if count > 10}}<div class="pagination page-top">{{html page}}</div>{{/if}}
        <div class="main-list">
            {{each(key,one) list}}
            <div class="one{{if key == 0 }} first{{/if}}">
                <div class="user member">
                    <p class="time text-right" title="${one.u_name}">${one.name}</p>
                    <p class="time text-right">发表于 ${one.create_time}</p>
                </div>
                <div class="content">
                    {{if one.is_detail == 1}}
                        <p><a class="detail_title" target="_blank" href="${one.detail_url}">${one.title}</a></p>
                    {{else}}
                        <div class="content_body{{if one.avatar != ''}} avatar_min_height{{/if}}">{{html one.content}}</div>
                    {{/if}}
                    <p class="right clear click oo_xx">
                        <span class="response"></span>
                        <a class="oo" title="支持" data-id="${one.con_id}">OO</a>[<span class="good">${one.good}</span>]
                        <a class="xx" title="反对" data-id="${one.con_id}">XX</a>[<span class="bad">${one.bad}</span>]
                        <a class="reply" data-id="${one.con_id}">↓回复</a>[<span class="reply_count">${one.reply}</span>]
                    </p>
                </div>
            </div>
            {{/each}}
        </div>
        {{if count > 10}}<div class="pagination">{{html page}}</div>{{/if}}
    {{else}}
        <div class="empty"><h2 class="center">还没有发表过东西哦</h2></div>
    {{/if}}
    {/literal}
    </script>
</div>
<div class="right-container left">
    <div class="member_user_info">
        {if $user.avatar != ''}<div class="reply_avatar"><img src="{$user.avatar}" /></div>{/if}
    </div>
</div>
<script type="text/javascript">
$(function(){
    ajax_page(0);
})
function ajax_page(page){
    var type = $('#type').val();
    var user_id = $('#unique_id').val();
    $.ajax({
        url: "/member_list",
        data:{
            "id" : user_id,
            "type" : type,
            "page":page
        },
        type: "POST",
        dataType:'json',
        beforeSend: function() {
        //    $('.content_list').html('<h2 class="center">数据加载中...</h2>');
        },
        success:function(result){
            if(result.status == "error"){
                alert_msg(result.msg);
                return false;
            }
            $('.content_list').html('');
            $("#content_list").tmpl(result.data).appendTo('.content_list');
            show_play();
        },
        error:function(e){
            alert_msg('请求失败，请刷新重试');
        }
    });
}

$('body').on('click', '.group_count_value', function(){
    if(!$(this).hasClass("group_count_value")){
        return false;
    }
    $('#type').val($(this).attr('data-type'));
    $(this).removeClass("group_count_value").parent().siblings().children().addClass('group_count_value');
    ajax_page(0);
})
</script>