<div class="right-container left">
    <div class="search">
        <input type="text" id="search" placeholder="搜索昵称"  value="{$search}"/>
        <button>Search</button>
    </div>
    <div class="info">
        <p>注意事项：</p>
        <p>[1] 图片请上传到
            <a target="_blank" href="http://photo.weibo.com/photos/upload">微博相册</a>，
                点击  <a class="mao">评论框右上角</a> 添加图  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;片粘帖地址即可
        </p>
        <p>[2] 提交后请等待审核，未通过的原因可能是重复图、敏  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感图或带广告水印</p>
        <p>[3] 注册后昵称唯一，仅本人登陆可用。注册用户加&nbsp;<span class="vip"></span>标  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;识，可回复、设置头像等</p>
    </div>
</div>