#table td{
    max-width:200px;
}
#table td div{
    max-height: 80px;
    overflow: hidden;
}
.container .table-toolbar{
    width:1000px;
    float:left;
    margin-top: 10px;
}
.container .table-toolbar .form-group{
    float:left;
    margin-right: 20px;
    margin-bottom: 0px;
}
.container .table-toolbar span{
     float:left;
    margin-left:5px;
    margin-top:10px;
 }
.form-control{
    margin-bottom: 0px;
}
.table-toolbar button{
    float:left;
    margin-right: 20px;
    color:#8c8c8c;
}
.table-toolbar button:hover{
    background-color: #dedede;
}
#table td div{
    font-size: 12px;
}
.table-hover th div{
    font-weight: normal;
}
.fixed-table-header{
    background-color: #ffffff;
}
body{
    overflow: hidden;
}
body,td,td,div,input,select button{
    font-family: 'Microsoft YaHei','Arial';
}
.container{
    margin-left:0px;
}
.modal-body{
    padding:20px 0;
    overflow:auto;
}
.modal-body .form-group{
    overflow: auto;
    clear:both;
}
.modal-body .form-group label{
    width:80px;
    text-align: right;
    float:left;
    padding-top: 6px;
}
.modal-body .form-group .form-control{
    float:left;
    width:480px;
}
.priv_no{
    display: block;
    margin-left:10px;
}
.priv_wrapper{
    padding:0 20px;
}
.priv_wrapper p{
    margin:0;
}
.priv_wrapper span{
    font-size: 13px;
    margin-left:5px;
}
.checkbox-item{
    float:left;
    width:33%;
}
.priv_wrapper input,.priv_wrapper span{
    display:block;
    float:left;
    color:#4c4c4c;
}
.priv_left{
    width:100px;
}
.edit-btn{
    padding:2px 5px;
    font-size:12px;
}
#m-content,#m-description{
    max-width: 480px;
    min-width: 480px;
}
i.glyphicon{
    font-family: "Microsoft YaHei","Arial";
    color: #999;
}
.glyphicon-refresh::before,.glyphicon-th::before{
    content:"";
}